header.app-header {
  position: sticky;
  top: 0;
  background: var(--primary-contrast-lighten-024);

  height: 56px;
  border-bottom: 1px solid var(--divider);
  z-index: 5;

  > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    > h1 {
      font-size: 24px;
      line-height: 32px;
    }

    > button {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--primary-color);

      height: 36px;
      padding: 0 16px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      background: transparent;
      border-radius: 20px;
      border: 1px solid var(--divider);

      outline: 2px solid transparent;

      transition: outline-color 150ms ease-out, background-color 150ms ease-out, box-shadow 150ms ease-out;

      &:hover {
        @include shadow;
        background: var(--primary-contrast-lighten-024);
      }

      &:focus-visible {
        @include shadow;
        background: var(--primary-contrast-lighten-05);

        outline-color: var(--primary-color);
      }
    }
  }
}
